.Cart {
  display: flex;
}

.cartItems {
  width: 70%;
}

.total {
  width: 30%;
  text-align: center;
}

.orderBtn {
  padding: 0;
  border: none;
  background: none;
  background-color: #4376fb;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 80%;
}
